.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    background-color: hsl(217, 54%, 11%);
}

.content {
    width: 325px;
    display: flex;
    flex-direction: column;
    background-color: hsl(216, 50%, 16%);
    color: hsl(0, 0%, 100%);
    font-family: 'Outfit', sans-serif;
    padding: 20px;
}

img.item-image {
    border-radius: 10px;
    width: 100%;
    margin: auto;
}

.item-title {
    margin-top: 25px;
    font-size: 22px;
    margin-bottom: 0;
}

.item-desc {
    font-size: 18px;
    font-weight: 300;
    color: hsl(215, 51%, 70%);
}

div.info {
    display: flex;
    justify-content: space-between;
}

.price-container {
    display: flex;
}

.price {
    color: hsl(178, 100%, 50%);
    /* display: inline; */
}

.icon-info {
    position: relative;
    top: 16px;
    margin-right: 7px;
    /* display: inline; */
}

.time {
    /* justify-self: flex-end; */
    /* display: inline; */
}